@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar-wrapper @NavMenuCssClass">
        <div class="sidebar" @onclick="ToggleNavMenu">
            <NavMenu />
        </div>
    </div>

    <main>
        <div class="top-row px-4 d-md-none navbar-dark bg-dark">
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand ms-2 text-white">Campus Event-Admin</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}